* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  min-width: 634px;
}

.logo {
  margin-right: auto;
  height: 60px;
  width: 48px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,d
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #24252A;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a:hover {
  color: #0088a9;
}

/*-------------------------------------------------------*/
body{
  background-color: #F2F3F7;
}