/*------------------------NAV------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/*Hide Scroll Bard*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5%;
  width: 100%;
  min-width: 634px;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 20px 0px rgba(0.3, 0.3, 0.3, 0.3);
  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.9);
}

.logo {
  margin-right: auto;
  height: 60px;
  width: 48px;

  filter: none;
}

.nav__links {
  list-style: none;
  display: flex;
  filter: none;
}

.nav__links a,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #24252a;
  text-decoration: none;
  filter: none;
}

.nav__links li {
  padding: 0px 20px;
  filter: none;
}

.nav__links li a:hover {
  color: #0088a9;
}

/*------------------------------------------------*/
body {
  background-color: #f2f3f7;
}

.coverPhoto {
  height: 99.3vh;
  width: 100vw;
  position: relative;
  top: 7px;
  z-index: 1;
  filter: none;
  object-fit: cover;
}

.about {
  width: 100vw;
  height: 100vh;
  position: relative;

}

.jumboName {
  z-index: 9;
  top: 50%;
  font-size: 600%;
  position: absolute;
  left: 50%;
  transform: translate(-38%, -45%);
  bottom: 0px;
  min-width: 900px;

  background: linear-gradient(
    -45deg,
    #0b0742,
    #120c6e,
    #5e72eb,
    #ff9190,
    #fdc094
  );
  background-size: 200%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 10s ease-in-out infinite;
  -moz-animation: animated_text 10s ease-in-out infinite;
  -webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

:root{
	--x: 0;
	--y: 0;
}
.aboutText {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  top: 0px;
	flex-direction: column;
	place-content: center;
	background-color: white;
}
.aboutPara {
  text-align: centre;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  position: relative;
  top:43%;
  
}