* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  width: 100%;
  min-width: 634px;
  position: fixed;
  z-index: 10;
}

.logo {
  margin-right: auto;
  height: 60px;
  width: 48px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
d .cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #24252a;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a:hover {
  color: #0088a9;
}

/*-------------------------------------------------------*/
body {
  background-color: #f2f3f7;
}

.coverPhoto {
  height: 120vh;
  width: 100vw;
  position: relative;
  top: -190px;
  z-index:1;
  
}

.about {
  overflow: hidden;
}

.jumboName{
  z-index:10;
  font-size:100px;
  display: block;
  align-items: center;
}
